<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        {{define "title"}}Your Account{{end}}
    </head>
    <body>
        <header>
            <h1><a href='/'>Snippetbox</a></h1>
        </header>
    {{define "main"}}
        <h2>Your Account</h2>
        {{with .User}}
        <table>
            <tr>
                <th>Name</th>
                <th>{{.Name}}</th>
            </tr>
            <tr>
                <th>Email</th>
                <th>{{.Email}}</th>
            </tr>
            <tr>
                <th>Joined</th>
                <th>{{humanDate .Created}}</th>
            </tr>
        </table>
        {{else}}
            <p>There's nothing to see here yet!</p>
        {{end}}
    {{end}}
    <footer>Powered by <a href='https://golang.org/'>Go</a></footer>
    </body>
</html>